@charset "UTF-8";
/* CSS Document */

a:link {
  color: white;
	background-color:lightblue;
	padding: 1px 1px;	
	border-radius: 15px;	
	display: inline-block;	
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color:steelblue;
}

/* selected link */
a:active {
  color: gold;
}


#SABRINASITE {
            background-color:#326A80;
            font-size: 47px; 
            text-align: center; 
            color: #f6f5f2;
}

.threecolumns {
	width: 31.427%;
	padding: 15px;
	float: left;
	background-color:lightblue;
	margin: 5px;
	color: white;
	position:sticky
}

.threecolumns:hover {
	box-shadow: 0px 0px 5px 5px #cccccc;
	zoom: 150%
}

img {
	float: center;
	width: 200px;
	height: 200px;
	background-size: cover;
}
	
img:hover {
	zoom: 137%;
	box-shadow: 0px 0px 5px 5px #f6f5f2
}
img {
	float: center;
	width: 200px;
	height: 200px;
	background-size: cover;
}
	
img:hover {
	zoom: 101%;
	box-shadow: 0px 0px 5px 5px #f6f5f2
}
video {
	witdth: 25%;
	height: auto;
}
.vid {
	padding: 1px;
	border: 20px outset #326A80
}
.TT {
	position:sticky;
}
.container {
	width: 25%;
	height: auto;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #326A80; /* Blue border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #326A80;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #FFDC91;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #5C98B0;
  padding: 20px;
  justify-content: center;
}
.overlay {
	width:10%x;
	height:auto;
}
